<header>
    <div class="header-container">
        <div class="header-content">
            <div class="entry-title">{{ title }}</div>
        </div>
    </div>
</header>

<div class="content-container w3-center">
    <a href='/admin/app_settings' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage app_settings</p>
    </a>
    <a href='/admin/city' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage city</p>
    </a>
    <a href='/admin/loadshedding' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage loadshedding</p>
    </a>
    <a href='/admin/loadshedding_subscription'
        class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage loadshedding_subscription
        </p>
    </a>
    <a href='/admin/meter' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage meter</p>
    </a>
    <a href='/admin/meter_billing' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage meter_billing</p>
    </a>
    <a href='/admin/meter_usage' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage meter_usage</p>
    </a>
    <a href='/admin/meter_user' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage meter_user</p>
    </a>
    <a href='/admin/province' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage province</p>
    </a>
    <a href='/admin/suburb' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage suburb</p>
    </a>
    <a href='/admin/user_type' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage user_type</p>
    </a>
    <a href='/admin/users' class='w3-link w3-card w3-padding w3-margin w3-bolder w3-text-indigo w3-hover-indigo'
        style='display:inline-block;float:left;'><i class='fa fa-cogs w3-xxlarge'></i>
        <p>Manage users</p>
    </a>



</div>