<header>
	<div class="header-container">
		<div class="header-content">
			<div class="entry-title">{{ title }}</div>
		</div>
	</div>
</header>

<div class="content-container">
	<div class="breadcrum1"> 
		<a href="/admin/">Home</a> / 
		<a href="/admin/province/">province</a> / 
		<a href="#">{{ title }}</a>
	</div>
	<div id="province_form" class="formstyle">
		<div class="form-data">
			<span class="label-check w3-border-red">Province ID :</span><input class="w3-input w3-border data-textbox" name="ProvinceID" id="ProvinceID" placeholder="Province ID" title="Province ID" value="" type="number" />
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Province Name :</span><input class="w3-input w3-border data-textbox" name="ProvinceName" id="ProvinceName" placeholder="Province Name" title="Province Name" maxlength="50" value="" />
		</div>

		<div class="loading" style="display:none" id="loadEprovince">
			<div class="smallload">
				<div class="neca-anim-fast-fade ">
					<img style="width:15%;min-width:100px; max-width: 200px" src="/img/load.png" />
				</div>
				<div>
					Please wait..
				</div>
			</div>
		</div>

		<div class="form-data">

			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-arrow-left fa-2x" onclick="location = '/admin/province/'" title="Back"></button>
			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-save fa-2x" onclick="doEditprovince()" title="Save province"></button>
		</div>

	</div>
</div>
<script>

	function doEditprovince()
	{
		var dataReq=new Object();
		dataReq.ProvinceID=ItemValue("ProvinceID");
		dataReq.ProvinceName=ItemValue("ProvinceName");

		if( dataReq.ProvinceID == "" )
		{
			showMessage("Enter a value for Province ID",'Error',ShowButton);
		}
		else if( dataReq.ProvinceName == "" )
		{
			showMessage("Enter a value for Province Name",'Error',ShowButton);
		}
		else 
		{

			$("#loadEprovince").show();
			$(".form-data").hide();

			putJsonData(dataReq, "/api/admin/province",
			(err) => {

			errorMsg = "Connection Problem: Error 1";
			if (err) {
			if (err.status && err.status == 400 && err.responseText) {
			errorMsg = err.responseText;
			}
		}
		showMessage(errorMsg, 'Error', ShowButton);
		},
		edit_province_Response
		);

		}
	}

 function edit_province_Response(data) 
{
			var jResponse = data;

			if (jResponse.status == '1') {
		showMessage(jResponse.message, 'Success', function () {document.location = '/admin/province/'; });
			}
			else {
		showMessage(jResponse.message, 'Error', ShowButton);
			}


		}

	function ShowButton()
	{
		$("#loadEprovince").hide();
		$(".form-data").show();
	}


$("#loadEprovince").show();
$(".form-data").hide();

	getJsonData(null, "/api/admin/province/{{ProvinceID}}",
		(err) => {
		}
		,
		(data) => {

			try {
				if (data) {
					let keys = Object.keys(data);
					for (let i = 0; i < keys.length; i++) {
						$("#" + keys[i]).val(data[keys[i]]);
					}
					ShowButton();

					return;
				}
			}
			catch (e) {
				showMessage("Could not load province record", "error", () => { document.location = "/admin/province/" });
			}
		});
</script>
