<header>
	<div class="header-container">
		<div class="header-content">
			<div class="entry-title">{{ title }}</div>
		</div>
	</div>
</header>

<div class="content-container">
	<div class="breadcrum1"> 
		<a href="/admin/">Home</a> / 
		<a href="/admin/meter/">meter</a> / 
		<a href="#">{{ title }}</a>
	</div>
	<div id="meter_form" class="formstyle">
		<div class="form-data">
	<input type="hidden" name="MeterID" id="MeterID" value="<?php echo $meterInfo->MeterID; ?>" readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Meter GUID :</span><input class="w3-input w3-border data-textbox" name="MeterGUID" id="MeterGUID" placeholder="Meter GUID" title="Meter GUID" value="" type="number"  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Meter No :</span><input class="w3-input w3-border data-textbox" name="MeterNo" id="MeterNo" placeholder="Meter No" title="Meter No" maxlength="30" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">ID Number :</span><input class="w3-input w3-border data-textbox" name="IDNumber" id="IDNumber" placeholder="ID Number" title="ID Number" maxlength="13" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Passport Number :</span><input class="w3-input w3-border data-textbox" name="PassportNumber" id="PassportNumber" placeholder="Passport Number" title="Passport Number" maxlength="25" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Reg Name :</span><input class="w3-input w3-border data-textbox" name="RegName" id="RegName" placeholder="Reg Name" title="Reg Name" maxlength="100" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Reg Last Name :</span><input class="w3-input w3-border data-textbox" name="RegLastName" id="RegLastName" placeholder="Reg Last Name" title="Reg Last Name" maxlength="100" value=""  readonly=''/>
		</div>

		<div class="loading" style="display:none" id="loadVmeter">
			<div class="smallload">
				<div class="neca-anim-fast-fade ">
					<img style="width:15%;min-width:100px; max-width: 200px" src="/img/load.png" />
				</div>
				<div>
					Please wait..
				</div>
			</div>
		</div>

		<div class="form-data">

			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-arrow-left fa-2x" onclick="location = 'admin/meter/'" title="Back"></button>
		</div>

	</div>
</div>
<script>


	function ShowButton()
	{
		$("#loadVmeter").hide();
		$(".form-data").show();
	}


$("#loadVmeter").show();
$(".form-data").hide();

	getJsonData(null, "/api/admin/meter/{{MeterID}}",
		(err) => {
		}
		,
		(data) => {

			try {
				if (data) {
					let keys = Object.keys(data);
					for (let i = 0; i < keys.length; i++) {
						$("#" + keys[i]).val(data[keys[i]]);
					}
					ShowButton();

					return;
				}
			}
			catch (e) {
				showMessage("Could not load meter record", "error", () => { document.location = "/admin/meter/" });
			}
		});
</script>
