<div class="container">
    <div class="logo">
        <div class="humburger"><i class="fas fa-user-circle"></i></div>
        <div class="logo-pic"> <h2>OUR APP</h2> </div>
    </div>
   
    <div class="details">
        <div class="name-meter">
            <div class="name">
                Miss P Mabuza
            </div>
            <div class="meter-number">
                Meter no. 124 865 5203
            </div>
        </div>
        
        <div class="address">
            Address : 2974 Orange Steet Park North, Johannesburg
        </div>

    </div>
    <div class="main">
        <div class="box box5">
            <div class="electricity">
                BILL
            </div>
            <div class="calenders">
                This month you bought electricity worth R550 which is less than last month 
            </div>
        </div>      
    </div>
    <div class="nav-bar">
        <header>
            <div class="main">
                <ul id="nav">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/usage">Usage</a></li>
                    <li><a href="/bill">Bill</a></li>
                    <li><a href="/loadsheding">Loadshedding</a></li>
                </ul>
            </div>
        </header>
    </div> 
</div>
    