<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dashboard.css">
    <script src="https://kit.fontawesome.com/7e2a3ffde1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="logo">
        <div class="humburger"><i class="fas fa-user-circle"></i></div>
        <div class="logo-pic">
            <h2>OUR APP</h2>
        </div>
    </div>
    <div class="nav-bar">
        <header>
            <div class="main">
                <ul id="nav">
                    <li><a href="#dashboard.html">Dashboard</a></li>
                    <li><a href="usage.html">Usage</a></li>
                    <li><a href="bill.html">Bill</a></li>
                    <li><a href="loadsheding.html">Loadshedding</a></li>
                </ul>
            </div>
        </header>
    </div>
    <div class="details">
        <div class="name-meter">
            <div class="name">
                Miss P Mabuza
            </div>
            <div class="meter-number">
                Meter no. 124 865 5203
            </div>
        </div>

        <div class="address">
            Address : 2974 Orange Steet Park North, Johannesburg
        </div>
    </div>
    <div class="main">
        <div class="slideholder">
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <div class="box1">
                                        <div class="electricity">
                                            ELECTRICITY - USAGE BILL
                                        </div>
                                        <div class="summary">
                                            <div class="energy-used">
                                                Enegy used <strong>R500</strong> as of the 26th of October
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <div class="box1">
                                        <div class="electricity">
                                            ELECTRICITY - USAGE BILL
                                        </div>
                                        <div class="summary">
                                            <div class="energy-estimate">
                                                It is estimated that you will need to buy <strong>R100</strong>
                                                electricity to have power till the 31st of October
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <div class="box2">
                                        <div class="electricity">
                                            BILL SUMMARY
                                        </div>
                                        <div class="bill-summary">
                                            This month you bought <strong>R500</strong> electricity. Which was less then what you bought last
                                            month
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <div class="box3">
                                        <div class="electricity">
                                            TODAY'S SUMMARY
                                        </div>
                                        <div class="bill-summary">
                                            <img height="170" width="500" src="pic1.png"
                                                alt="picture showing houssehold electricity usage over 24 hours">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>


        </div>
        <!-- <div class="flexbox1">
            <div class="box box1">
                <div class="electricity">
                    ELECTRICITY - USAGE BILL
                </div>
                <div class="summary">
                    <div class="energy-used">
                        Enegy used <strong>R500</strong> as of the 26th of October

                    </div>
                    <div class="energy-estimate">
                        It is estimated that you will need to buy <strong>R100</strong> electricity to have power till
                        the 31st of October
                    </div>
                </div>
            </div>
            <div class="box box2">
                <div class="electricity">
                    BILL SUMMARY
                </div>
                <div class="bill-summary">
                    This month you bought <strong>R500</strong> electricity. Which was less then what you bought last
                    month

                </div>
            </div>
        </div>
        <div class="flexbox2">
            <div class="box box3">
                <div class="electricity">
                    TODAY'S SUMMARY
                </div>
                <div class="bill-summary">
                    <img height="170" width="500" src="pic1.png"
                        alt="picture showing houssehold electricity usage over 24 hours">
                </div>
            </div>
            <div class="box box4">
                <div class="electricity">
                    TIP's FOR SAVING ELECTRICITY
                </div>
                <div class="bill-summary">
                    1. Ease up on the AC.
                    <br>
                    <br>
                    2. Hang to dry laundry.
                    <br>
                    <br>
                    3.Wash clothes in cold water, and install efficient shower heads.
                </div>
            </div>
        </div> -->
    </div>

</body>

</html>