
    <div class="logo">
        <img class="pic-logo" src="leafy-green-bulb-removebg-preview.png" alt="Logo">
        <br>
        <h1 class="name">OUR APP</h1>
    </div>
    <div class="welcome">
        Your enegy and usage, 
        <br>
        <span>in your hands</span> 
    </div>
    <div class="login">
        <div class="sign-in">
            Sign in
        </div>
        <div class="sign-up">
            Sign up
        </div>
    </div>