<div class="container">
    <div class="landing-page">

        <header>
            <input type="checkbox" id="check">
            <div class="logo-pic">
                <h2>OUR APP</h2>
            </div>
            <div class="navigation">
                <a href="">HOME</a>
                <a href="">ABOUT</a>
                <a href="">INFO</a>
                <a href="/register">REGISTER</a>
                <a href="/login">LOGIN</a>
            </div>
            <label class="hum" for="ckeck">
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-times close-btn"></i>
            </label>
        </header>
        <div class="holder">
            <div class="info">
                <h2> <span>ENELIGHTEN</span> USER <br> BY GIVING THEM <span>POWER</span> <br> IN THEIR HANDS!</h2>
                <p>OUR APP is a global smart energy leader in the worldwide transformation of the electricity grid into
                    an
                    energy control network, enabling utilities to connect to their customers, offer new services and
                    help
                    utilities then compete more effectively, through solutions which can help reduce operating costs,
                    provide expanded services and help energy end users to become active participants in tracking their
                    consumption throughout the day, week and month. This gives customers full control of their energy
                    meter
                    no matter where they are</p>
            </div>
            <div class="login-signup">
                <div class="login">
                    <a href="/register">Register</a>
                </div>

                <div class="signup">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>



        <div class="social">
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>

        </div>

    </div>


</div>