<div class="container">
  <div class="logo">
    <div class="humburger"><i class="fas fa-user-circle"></i></div>
    <div class="logo-pic">
      <h2>OUR APP</h2>
    </div>
  </div>
  <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <div class="user-box">
        <p>Not registered?<a href="/register" style="all:revert; text-decoration: none; color:black; padding-left:3px"><b>Create
              Account</b></a></p>
      </div>
      <button type="submit" style="border: none; background-color:inherit"><a href="/dashboard">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a></button>
    </form>
  </div>

</div>