<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dashboard.css">
    <script src="https://kit.fontawesome.com/7e2a3ffde1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="logo">
        <div class="humburger"><i class="fas fa-user-circle"></i></div>
        <div class="logo-pic"> <h2>OUR APP</h2> </div>
    </div>
    <div class="nav-bar">
        <header>
            <div class="main">
                <ul id="nav">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/usage">Usage</a></li>
                    <li><a href="/bill">Bill</a></li>
                    <li><a href="/loadsheding">Loadshedding</a></li>
                </ul>
            </div>
        </header>
    </div>
    <div class="details">
        <div class="name-meter">
            <div class="name">
                Miss P Mabuza
            </div>
            <div class="meter-number">
                Meter no. 124 865 5203
            </div>
        </div>
        
        <div class="address">
            Address : 2974 Orange Steet Park North, Johannesburg
        </div>

    </div>
    <div class="main">
        <div class="box box5">
            <div class="electricity">
                TODAY'S SUMMARY
            </div>
            <div class="calender">
                <div class="monthly">
                    <a href="">Monthly</a>
                </div>
                <div class="weekly">
                    <a href="">Weekly</a>
                </div>
                <div class="daily">
                    <a href="">Daily</a>  
                </div>
            </div>
            <div class="bill-summary">
                <img src="pic1.png" alt="picture showing houssehold electricity usage over 24 hours">
            </div>
        </div>    
    </div>
    </div>
    
</body>
</html>