<header>
	<div class="header-container">
		<div class="header-content">
			<div class="entry-title">{{ title }}</div>
		</div>
	</div>
</header>

<div class="content-container">
	<div class="breadcrum1"> 
		<a href="/admin/">Home</a> / 
		<a href="/admin/users/">users</a> / 
		<a href="#">{{ title }}</a>
	</div>
	<div id="users_form" class="formstyle">
		<div class="form-data">
	<input type="hidden" name="UserID" id="UserID" value="<?php echo $usersInfo->UserID; ?>" readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">User GUID :</span><input class="w3-input w3-border data-textbox" name="UserGUID" id="UserGUID" placeholder="User GUID" title="User GUID" value="" type="number"  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Full Name :</span><input class="w3-input w3-border data-textbox" name="FullName" id="FullName" placeholder="Full Name" title="Full Name" maxlength="100" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">User Cell No :</span><input class="w3-input w3-border data-textbox" name="UserCellNo" id="UserCellNo" placeholder="User Cell No" title="User Cell No" maxlength="13" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">User Password :</span><input class="w3-input w3-border data-textbox" name="UserPassword" id="UserPassword" placeholder="User Password" title="User Password" maxlength="64" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Date Registered :</span><input class="w3-input w3-border data-textbox" name="DateRegistered" id="DateRegistered" placeholder="Date Registered" title="Date Registered" value="" type="date"  readonly=''/>
		</div>

		<div class="form-data">
		<span class="label-check w3-border-red">User Type :</span><select class='w3-input w3-border data-textbox' id='UserTypeID' name='UserTypeID' readonly=''></select>
		</div>

		<div class="loading" style="display:none" id="loadVusers">
			<div class="smallload">
				<div class="neca-anim-fast-fade ">
					<img style="width:15%;min-width:100px; max-width: 200px" src="/img/load.png" />
				</div>
				<div>
					Please wait..
				</div>
			</div>
		</div>

		<div class="form-data">

			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-arrow-left fa-2x" onclick="location = 'admin/users/'" title="Back"></button>
		</div>

	</div>
</div>
<script>


	function ShowButton()
	{
		$("#loadVusers").hide();
		$(".form-data").show();
	}



	getJsonData(null, "/api/admin/user_type/",
	(err) => {
	}
	,
	(data) => {
	  if (data.length > 0) {
		for (let i = 0; i < data.length; i++) {
		  let cmbVal = data[i];
		  $("#UserTypeID").append("<option value=\"" + cmbVal.UserTypeID + "\">" + cmbVal.UserTypeName + "</option>")
		}
	  }
	});

$("#loadVusers").show();
$(".form-data").hide();

	getJsonData(null, "/api/admin/users/{{UserID}}",
		(err) => {
		}
		,
		(data) => {

			try {
				if (data) {
					let keys = Object.keys(data);
					for (let i = 0; i < keys.length; i++) {
						$("#" + keys[i]).val(data[keys[i]]);
					}
					ShowButton();

					return;
				}
			}
			catch (e) {
				showMessage("Could not load users record", "error", () => { document.location = "/admin/users/" });
			}
		});
</script>
