<header>
	<div class="header-container">
		<div class="header-content">
			<div class="entry-title">{{ title }}</div>
		</div>
	</div>
</header>

<div class="content-container">
	<div class="breadcrum1"> 
		<a href="/admin/">Home</a> / 
		<a href="/admin/app_settings/">app_settings</a> / 
		<a href="#">{{ title }}</a>
	</div>
	<div id="app_settings_form" class="formstyle">
		<div class="form-data">
	<input type="hidden" name="SettingID" id="SettingID" value="<?php echo $app_settingsInfo->SettingID; ?>" readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Setting Name :</span><input class="w3-input w3-border data-textbox" name="SettingName" id="SettingName" placeholder="Setting Name" title="Setting Name" maxlength="100" value=""  readonly=''/>
		</div>

		<div class="form-data">
			<span class="label-check w3-border-red">Setting Value :</span><textarea class="w3-input w3-border " name="SettingValue" id="SettingValue" placeholder="Setting Value" title="Setting Value" maxlength="500"  readonly=''></textarea>
		</div>

		<div class="loading" style="display:none" id="loadVapp_settings">
			<div class="smallload">
				<div class="neca-anim-fast-fade ">
					<img style="width:15%;min-width:100px; max-width: 200px" src="/img/load.png" />
				</div>
				<div>
					Please wait..
				</div>
			</div>
		</div>

		<div class="form-data">

			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-arrow-left fa-2x" onclick="location = 'admin/app_settings/'" title="Back"></button>
		</div>

	</div>
</div>
<script>


	function ShowButton()
	{
		$("#loadVapp_settings").hide();
		$(".form-data").show();
	}


$("#loadVapp_settings").show();
$(".form-data").hide();

	getJsonData(null, "/api/admin/app_settings/{{SettingID}}",
		(err) => {
		}
		,
		(data) => {

			try {
				if (data) {
					let keys = Object.keys(data);
					for (let i = 0; i < keys.length; i++) {
						$("#" + keys[i]).val(data[keys[i]]);
					}
					ShowButton();

					return;
				}
			}
			catch (e) {
				showMessage("Could not load app_settings record", "error", () => { document.location = "/admin/app_settings/" });
			}
		});
</script>
