<header>
	<div class="header-container">
		<div class="header-content">
			<div class="entry-title">{{ title }}</div>
		</div>
	</div>
</header>

<div class="content-container">
	<div class="breadcrum1">
		<a href="/admin/">Home</a> /
		<a href="#">{{ title }}</a>
	</div>
	<div class="loading" style="" id="loadM_loadshedding_subscription">
		<div class="smallload">
			<div class="neca-anim-fast-fade ">
				<img style="width:15%;min-width:100px; max-width: 200px" src="/img/load.png" />
			</div>
			<div>
				Please wait..
			</div>
		</div>
	</div>

	<div id='loadshedding_subscriptionControl'>
		<div class='top-set w3-padding'>
			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-home fa-2x w3-margin-left w3-margin-top"
				onclick="location = '/admin/'" title="Home"></button>
			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-plus fa-2x w3-margin-left w3-margin-top"
				onclick="location = '/admin/loadshedding_subscription/new'" title="New loadshedding_subscription"></button>
			<button class="w3-button w3-indigo w3-hover-dark-gray fa fa-sync-alt fa-2x w3-margin-left w3-margin-top"
				onclick="refreshloadshedding_subscription()" title="refresh loadshedding_subscription"></button>
		</div>

		<div class="w3-padding display-box" id="loadshedding_subscriptionDataList">

		</div>


	</div>


</div>

<script>



	function refreshloadshedding_subscription() 
{
		hideloadshedding_subscriptionData();

		$("#loadshedding_subscriptionDataList").html("No Data");
		getJsonData(null, "/api/admin/loadshedding_subscription/list",
			(err) => {
				errorMsg = "Connection Problem: Error 1";
				if (err) {
					if (err.status && err.status == 400 && err.responseText) {
						errorMsg = err.responseText;
					}
				}
				showMessage(errorMsg, 'Error', showloadshedding_subscriptionData);

			},

			(result) => {
				$("#loadshedding_subscriptionDataList").html("");
				if (result.key && result.data && result.show) {
					let showData = Object.keys(result.show);

					if (showData.length > 0 && result.data.length > 0) {

						for (let i = 0; i < result.data.length; i++) {

							let row = result.data[i];
							let Display = "<div class='display-item w3-border w3-border-gray w3-card' data-key='" + row[result.key] + "'>";

							for (let j = 0; j < showData.length; j++) {
								let k = showData[j];

								Display += "<div class='display-item-value'> " + result.show[k] + " - " + row[k] + "</div>"
							}

							Display += "<div class='display-item-buttons w3-right-align '><button class='w3-button w3-indigo onloadshedding_subscriptionUpdate'><i class='fa fa-pen'></i></button> <button class='w3-button w3-indigo onloadshedding_subscriptionDelete'><i class='fa fa-trash'></i></button></div>"
							Display += "</div>";
							$("#loadshedding_subscriptionDataList").append(Display);
							Display = "";


						}

						$(".onloadshedding_subscriptionUpdate").click(function ()
 {
							let parentKey = $(this).parent().parent().attr("data-key");
							document.location = "/admin/loadshedding_subscription/edit/" + parentKey;
						});


						$(".onloadshedding_subscriptionDelete").click(function ()
 {
							let parentKey = $(this).parent().parent().attr("data-key");
							hideloadshedding_subscriptionData();


							deleteJsonData({}, "/api/admin/loadshedding_subscription/" + parentKey,


								(delError) => {
									errorMsgDel = "Connection Problem: Error 1";
									if (delError) {
										if (delError.status && delError.status == 400 && delError.responseText) {
											errorMsgDel = delError.responseText;
										}
									}
									showMessage(errorMsgDel, 'Error', showloadshedding_subscriptionData);

								},
								(result) => {
									var jResponse = result;

									if (jResponse.status == '1') {
										showMessage(jResponse.message, 'Success', function () { refreshloadshedding_subscription(); showloadshedding_subscriptionData() });

									}
									else {
										showMessage(jResponse.message, 'Error', showloadshedding_subscriptionData);
									}

								});

						});


					}

				}

				showloadshedding_subscriptionData();
			});

	}

	function hideloadshedding_subscriptionData()
 {
		$("#loadshedding_subscriptionControl").hide();
		$(".loading").show();
	}

	function showloadshedding_subscriptionData() 
{
		$("#loadshedding_subscriptionControl").show();
		$(".loading").hide();
	}



	refreshloadshedding_subscription();



</script>
